.clearfix::after,
.clearfix::before{
    content: '';
    display: table;
    clear: both;
}

body{
    font:14px/1.5 Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
    min-width: 1226px;
}
.center{
    width: 1226px;
    margin: 0px auto;
}
.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 2s linear;
  }
.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
  }